<%- include('../comunes/cabecera') %>
<!--Mover link bootstrap a la cabecera-->
<!--abajo de la etiqueta title-->
<div class='container'>

    <!--  !== ! = =      -->
    <% const existeMensaje = typeof datos.mensaje !== 'undefined'%>
    <% if(existeMensaje){%>
        <div class="alert alert-danger" role="alert">
            <%= datos.mensaje%>
        </div>
    <%}%>
    <h1>Lista</h1>
    <form action=" /usuario/lista-usuarios" method="get">
        <div class="mb-3">
            <label for="busqueda" class="form-label">Busqueda </label>
            <!-- Los parametros de consulta con nombre son la busqueda-->
            <input placeholder="Ej: Uv" type="text" name="busqueda" class="form-control" id="busqueda" aria-describedby="ayudaBusqueda">
            <div id="ayudaBusqueda" class="form-text"> Puede buscar por nombre o apellido. </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Buscar</button>
    </form>
    <div>
        <a href="/usuario/vista-crear">
            <button class="btn btn-success">
                Crear nuevo usuario
            </button>
        </a>
    </div>
    <table class="table text-center" >
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Editar</th>
        </tr>
        </thead>
        <tbody>
        <% datos.usuarios.forEach((objeto) => { %>
        <tr>
            <th><%= objeto.id %></th>
            <th><%= objeto.nombre %></th>
            <th><%= objeto.apellido %></th>
            <th>
                <form action="/usuario/eliminar-usuario/<%= objeto.id %>" method="post">
                <button class="btn btn-danger">Eliminar</button>
                </form>
            </th>
            <th>
                <form action="/usuario/editar-usuario/<%= objeto.id %>" method="post">
                    <button class="btn btn-secondary">Editar</button>
                </form>
            </th>
        </tr>
        <% } ) %>
        </tbody>
    </table>
</div>